
@font-face {
    font-family: gotham;
    src: url(fonts/GothamBook.ttf);
    }
    body{
      background-color:#eceeee; 
        font-family: "Open Sans",Arial,sans-serif;
        font-size: 15px;
        text-decoration: none !important;
       color: #666;


    }
    .top-bar{
        background: #373737;
    }
a{
    text-decoration: none !important;
    color: #566455 ;
    font-size: 1rem;
}
.goldtextcss {
    color: #FFFFFF !important;
    }
    .dropdown-menu{
        background-color: rgb(255, 255, 255);
    }
    .dropdown-item:hover{
        background-color:  #63e649;
    }

    panel-header,thead{
        margin-left: -1.42857rem;
        margin-right: -1.42857rem;
        margin-top: 0;
       
        background: #f9f9fa;
    }
    
    /**/
    .btn-primary{
       
      background:   #83ba3b;
      }
      
    .btn-primary:hover{
         cursor:pointer;
           background: #65902e;
      }
.bg-success{
    background-color: 	#65902e;
}


    /**/
    .right-nav {
        background: #373737;
    }
    
    .sidenav li a{
        color: #9c9c9c !important;
       padding-left: 5px;
       display: block;     

            }
            td, th{
                vertical-align: middle !important;

            }
            th{
                text-align: left;

            }
    .sidenav li:hover{
       
color: #f8f8f8;


    }

    #sidebar li {
padding: 10px;
    }

    .form-control{
        background-color: rgb(255, 255, 255);
color: rgb(12, 6, 6);   
    }
    .page-link{
       
    }

    right-nav a{
      font-size: 25px;
    background-color:   #373737;
    }

.main-col{
    padding: 25px;
         }

.catco-pannel{
    border-style: solid;
    border-width: 1px;
    border-color: #d9dbdb;
    margin-bottom: 1.42857rem;
    padding: 1.42857rem;
    background: #fff;
    color: #666;
}
.cur-pannel{

}
.c-text{
    font-size: 13px;
}
.cur-item-dollar{
    height: 40px;
}
.table{
    font-size: 13px;
}
.table td, .table th{

    word-wrap: break-word;


}
._green{
color:  #3cf366 !important;

}
._red{

    color:	#D5AD6D; /*if no support for background-clip*/
background: -webkit-linear-gradient(transparent, transparent),
-webkit-linear-gradient(top, rgba(213,173,109,1) 0%, rgba(213,173,109,1) 26%, rgba(226,186,120,1) 35%, rgba(163,126,67,1) 45%, rgba(145,112,59,1) 61%, rgba(213,173,109,1) 100%);
background: -o-linear-gradient(transparent, transparent);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
._redtxt{
    color: red;

}